.active{
  font-weight: bold;
}

.nav-left{
  background: #F8F6F6;
}

.view-main{
  background: #D6E3ED;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

.search-form{
  margin-top: 40px;
}
hr{
  visibility: hidden;
}

.div-product, .img-product, .div-product-info{
  float: left;
  margin: 10px;
}

.product-wrapper{
  border: solid #F4F4F4 1px;
  margin-top: 10px;
}

.p-start-time{
  float: right;
}

body{
  background: #F8F6F6;
}
