<div id="search">
    <div id="search_fields">










        <div class="searchmain_top_section">
            <input name="q" size="20" id="searchtext" value="" type="text" placeholder="Tìm Kiếm" title="Tìm Kiếm" class="placeholder" alt="q">
            <select name="cg" onchange="SearchCrit(false, null, null);" id="catgroup" class="search_category">

			<option value="0">Tất cả danh mục </option>

                        <option style="background-color:#dcdcc3; font-weight: bold;" value="2000">-- Xe cộ --</option>



                        <option value="2020">Xe máy</option>



                        <option value="2010">Ô tô</option>



                        <option value="2060">Xe đạp</option>



                        <option value="2050">Xe tải, Xe khác</option>



                        <option value="2030">Phụ tùng xe</option>







                                <option style="background-color:#dcdcc3; font-weight: bold;" value="1000_w">-- Bất động sản - Mua bán --</option>




                                <option value="1010_w">Căn hộ/Chung cư</option>



                                <option value="1020_w">Nhà ở</option>



                                <option value="1040_w">Đất</option>



                                <option value="1030_w">Văn phòng, Mặt bằng kinh doanh</option>







                                <option style="background-color:#dcdcc3; font-weight: bold;" value="1000_y">-- Bất động sản - Thuê --</option>




                                <option value="1010_y">Căn hộ/Chung cư</option>



                                <option value="1020_y">Nhà ở</option>



                                <option value="1040_y">Đất</option>



                                <option value="1030_y">Văn phòng, Mặt bằng kinh doanh</option>



                                <option value="1050_y">Phòng trọ</option>



















                        <option style="background-color:#dcdcc3; font-weight: bold;" value="5000">-- Đồ điện tử --</option>



                        <option value="5010">Điện thoại di động</option>



                        <option value="5040">Máy tính bảng</option>



                        <option value="5030">Máy tính, Laptop</option>



                        <option value="5050">Máy ảnh, Máy quay</option>



                        <option value="5020">Tivi, Loa, Amply, Máy nghe nhạc</option>



                        <option value="5060">Phụ kiện, Linh kiện</option>



                        <option style="background-color:#dcdcc3; font-weight: bold;" value="3000">-- Thời trang, Đồ dùng cá nhân --</option>



                        <option value="3030">Quần áo</option>



                        <option value="3040">Giày dép, Túi xách, Phụ kiện</option>



                        <option value="3010">Mẹ và bé</option>



                        <option style="background-color:#dcdcc3; font-weight: bold;" value="9000">-- Nội ngoại thất, Đồ gia dụng --</option>



                        <option value="9030">Tủ lạnh, Máy lạnh, Máy giặt</option>



                        <option value="9040">Nội ngoại thất, Cây cảnh</option>



                        <option value="9050">Đồ gia dụng gia đình khác</option>



                        <option style="background-color:#dcdcc3; font-weight: bold;" value="4000">-- Giải trí, Thể thao, Sở thích --</option>



                        <option value="4030">Vật nuôi, Thú cưng</option>



                        <option value="4040">Âm nhạc, Phim, Sách</option>



                        <option value="4020">Đồ thể thao, Dã ngoại</option>



                        <option value="4010">Sưu tầm, Game, Sở thích khác</option>



                        <option style="background-color:#dcdcc3; font-weight: bold;" value="8000">-- Đồ dùng văn phòng, công nông nghiệp --</option>



                        <option value="8010">Đồ dùng văn phòng</option>



                        <option value="8030">Đồ chuyên dụng, Giống nuôi trồng</option>



                        <option style="background-color:#dcdcc3; font-weight: bold;" value="6000">-- Việc làm, Dịch vụ --</option>






                                <option value="6010_s">Việc tìm người</option>

                                <option value="6010_k">Người tìm việc</option>




                        <option value="6020">Dịch vụ</option>



                        <option value="6030">Du lịch</option>



                        <option style="background-color:#dcdcc3; font-weight: bold;" value="7000">-- Các loại khác --</option>



                        <option value="7010">Các loại khác</option>




			</select>


            <span>

<div class="featurebox" id="where">
<select name="w" id="searcharea_expanded" style="display:inline;" onchange="SearchCrit();">
	<option value="1"> Tp Hồ Chí Minh</option>

	<option value="2">Các vùng xung quanh</option>
	<option value="3">Toàn quốc</option>
	<option style="background-color:#dcdcc3;" disabled="disabled" value="0">-- CÁC VÙNG KHÁC --</option>

       	<option value="112"> Hà Nội</option>

       	<option value="110"> Đông Bắc Bộ</option>

       	<option value="111"> Tây Bắc Bộ</option>

       	<option value="101"> Các tỉnh lân cận Hà Nội</option>

       	<option value="104"> Hải Phòng Nam Định Thái Bình</option>

       	<option value="108"> Thanh Nghệ Tĩnh</option>

       	<option value="106"> Bình Trị Thừa Thiên Huế</option>

       	<option value="103"> Quảng Nam Đà Nẵng</option>

       	<option value="109"> Tây Nguyên</option>

       	<option value="107"> Nam Trung Bộ</option>

       	<option value="102"> Đông Nam Bộ</option>

       	<option value="105"> Cần Thơ - Tây Nam Bộ</option>

</select>





<select id="municipality_control" name="m" style="display:none;width:100%;margin-top:5px;">
	<option value="">Tất cả các tỉnh/thành phố</option>
	<option value="96">Quận 1</option><option value="97">Quận 2</option><option value="98">Quận 3</option><option value="99">Quận 4</option><option value="100">Quận 5</option><option value="101">Quận 6</option><option value="102">Quận 7</option><option value="103">Quận 8</option><option value="104">Quận 9</option><option value="105">Quận 10</option><option value="106">Quận 11</option><option value="107">Quận 12</option><option value="108">Quận Bình Tân</option><option value="109">Quận Bình Thạnh</option><option value="110">Quận Gò Vấp</option><option value="111">Quận Phú Nhuận</option><option value="112">Quận Tân Bình</option><option value="113">Quận Tân Phú</option><option value="114">Quận Thủ Đức</option><option value="115">Huyện Bình Chánh</option><option value="116">Huyện Củ Chi</option><option value="117">Huyện Hóc Môn</option><option value="118">Huyện Nhà Bè</option><option value="119">Quận huyện khác</option><option value="120">Huyện Cần Giờ</option>
</select>

<script type="text/javascript">
try {
	lastRegion = document.getElementById('searcharea_expanded').value;
} catch(e){}
</script>
</div>
</span>
            <input id="searchbutton" value="Tìm" type="submit" onclick="xt_click(this,'C',xtn2,'search_button','A');">
        </div>

        <div style="display: block;" class="featurebox" id="types">
            <div class="internal_keywords"></div>
            <div class="search_types">

                <input id="type_a" type="radio" name="st" value="a" onclick="SearchCrit(false, 'a', 'cat');" disabled="disabled" style="display:none">
                <label class="radio st_label" id="label_st_a" for="type_a" style="display:none">&nbsp;Tất cả</label>

                <input id="type_s" type="radio" name="st" value="s" onclick="SearchCrit(false, 's', 'cat');" disabled="disabled" style="display:none">
                <label class="radio st_label" id="label_st_s" for="type_s" style="display:none">&nbsp;Cần bán</label>
                <input id="type_u" type="radio" name="st" onclick="SearchCrit(false, 'u', 'cat');" value="u" disabled="disabled" style="display:none">
                <label class="radio st_label" id="label_st_u" for="type_u" style="display:none">&nbsp;Cho thuê</label>
                <input id="type_k" type="radio" name="st" onclick="SearchCrit(false, 'k', 'cat');" value="k" disabled="disabled" style="display:none">
                <label class="radio st_label" id="label_st_k" for="type_k" style="display:none">&nbsp;Cần mua</label>
                <input id="type_h" type="radio" name="st" onclick="SearchCrit(false, 'h', 'cat');" value="h" disabled="disabled" style="display:none">
                <label class="radio st_label" id="label_st_h" for="type_h" style="display:none">&nbsp;Cần thuê</label>

                <input id="type_w" type="radio" name="st" value="w" onclick="SearchCrit(false, 'w', 'cat');" checked="checked" disabled="disabled" style="display:none">
                <label class="radio st_label" id="label_st_w" for="type_w" style="display:none">&nbsp;Mua bán</label>

                <input id="type_y" type="radio" name="st" value="y" onclick="SearchCrit(false, 'y', 'cat');" disabled="disabled" style="display:none">
                <label class="radio st_label" id="label_st_y" for="type_y" style="display:none">&nbsp;Thuê</label>

            </div>
            <div class="clear"></div>
        </div>




        <div id="searchextras">



            <div class="featurebox_col">
                <div style="display: none;" id="pricelist_0" class="featurebox">
                    <select autocomplete="off" name="ps" style="width: 120px;" id="ps_0" disabled="disabled">
					<option value="" selected="selected">Giá thấp nhất</option>

						<option value="0">0</option>

						<option value="1">50 triệu</option>

						<option value="2">500 triệu</option>

						<option value="3">750 triệu</option>

						<option value="4">1 tỷ</option>

						<option value="5">1,5 tỷ</option>

						<option value="6">2 tỷ</option>

						<option value="7">3 tỷ</option>

				</select>
                    <br>
                    <select autocomplete="off" name="pe" style="width: 120px;" id="pe_0" disabled="disabled">
					<option value="" selected="selected">Giá cao nhất</option>

						<option value="1">50 triệu</option>

						<option value="2">500 triệu</option>

						<option value="3">750 triệu</option>

						<option value="4">1 tỷ</option>

						<option value="5">1,5 tỷ</option>

						<option value="6">2 tỷ</option>

						<option value="7">3 tỷ</option>

						<option value="8">nhiều hơn 3 tỷ</option>

				</select>
                </div>
                <div style="display: none;" id="pricelist_1" class="featurebox">
                    <select autocomplete="off" name="ps" style="width: 120px;" id="ps_1" disabled="disabled">
					<option value="" selected="selected">Giá thấp nhất</option>

						<option value="0">0</option>

						<option value="1">100 triệu</option>

						<option value="2">200 triệu</option>

						<option value="3">300 triệu</option>

						<option value="4">400 triệu</option>

						<option value="5">500 triệu</option>

						<option value="6">600 triệu</option>

						<option value="7">700 triệu</option>

						<option value="8">800 triệu</option>

						<option value="9">900 triệu</option>

						<option value="10">1 tỷ</option>

				</select>
                    <br>
                    <select autocomplete="off" name="pe" style="width: 120px;" id="pe_1" disabled="disabled">
					<option value="" selected="selected">Giá cao nhất</option>

						<option value="1">100 triệu</option>

						<option value="2">200 triệu</option>

						<option value="3">300 triệu</option>

						<option value="4">400 triệu</option>

						<option value="5">500 triệu</option>

						<option value="6">600 triệu</option>

						<option value="7">700 triệu</option>

						<option value="8">800 triệu</option>

						<option value="9">900 triệu</option>

						<option value="10">1 tỷ</option>

						<option value="11">nhiều hơn 1 tỷ</option>

				</select>
                </div>
                <div style="display: none;" id="pricelist_2" class="featurebox">
                    <select autocomplete="off" name="ps" style="width: 120px;" id="ps_2" disabled="disabled">
					<option value="" selected="selected">Giá thấp nhất</option>

						<option value="0">0</option>

						<option value="1">2 500</option>

						<option value="2">5 000</option>

						<option value="3">75 000</option>

						<option value="4">100 000</option>

						<option value="5">150 000</option>

						<option value="6">200 000</option>

						<option value="7">300 000</option>

						<option value="8">400 000</option>

						<option value="9">500 000</option>

						<option value="10">600 000</option>

						<option value="11">700 000</option>

						<option value="12">800 000</option>

						<option value="13">900 000</option>

						<option value="14">1 000 000</option>

						<option value="15">1 100 000</option>

						<option value="16">1 200 000</option>

						<option value="17">1 300 000</option>

						<option value="18">1 400 000</option>

						<option value="19">1 500 000</option>

						<option value="20">1 750 000</option>

						<option value="21">2 000 000</option>

						<option value="22">2 250 000</option>

						<option value="23">2 500 000</option>

						<option value="24">2 750 000</option>

						<option value="25">3 000 000</option>

						<option value="26">3 250 000</option>

						<option value="27">3 500 000</option>

				</select>
                    <br>
                    <select autocomplete="off" name="pe" style="width: 120px;" id="pe_2" disabled="disabled">
					<option value="" selected="selected">Giá cao nhất</option>

						<option value="1">2 500</option>

						<option value="2">5 000</option>

						<option value="3">75 000</option>

						<option value="4">100 000</option>

						<option value="5">150 000</option>

						<option value="6">200 000</option>

						<option value="7">300 000</option>

						<option value="8">400 000</option>

						<option value="9">500 000</option>

						<option value="10">600 000</option>

						<option value="11">700 000</option>

						<option value="12">800 000</option>

						<option value="13">900 000</option>

						<option value="14">1 000 000</option>

						<option value="15">1 100 000</option>

						<option value="16">1 200 000</option>

						<option value="17">1 300 000</option>

						<option value="18">1 400 000</option>

						<option value="19">1 500 000</option>

						<option value="20">1 750 000</option>

						<option value="21">2 000 000</option>

						<option value="22">2 250 000</option>

						<option value="23">2 500 000</option>

						<option value="24">2 750 000</option>

						<option value="25">3 000 000</option>

						<option value="26">3 250 000</option>

						<option value="27">3 500 000</option>

						<option value="28">nhiều hơn 3 triệu rưỡi</option>

				</select>
                </div>
                <div style="display: none;" id="pricelist_3" class="featurebox">
                    <select autocomplete="off" name="ps" style="width: 120px;" id="ps_3" disabled="disabled">
					<option value="" selected="selected">Giá thấp nhất</option>

						<option value="0">0</option>

						<option value="1">5 triệu</option>

						<option value="2">10 triệu</option>

						<option value="3">15 triệu</option>

						<option value="4">20 triệu</option>

						<option value="5">30 triệu</option>

						<option value="6">40 triệu</option>

						<option value="7">50 triệu</option>

				</select>
                    <br>
                    <select autocomplete="off" name="pe" style="width: 120px;" id="pe_3" disabled="disabled">
					<option value="" selected="selected">Giá cao nhất</option>

						<option value="1">5 triệu</option>

						<option value="2">10 triệu</option>

						<option value="3">15 triệu</option>

						<option value="4">20 triệu</option>

						<option value="5">30 triệu</option>

						<option value="6">40 triệu</option>

						<option value="7">50 triệu</option>

						<option value="8">nhiều hơn 50 triệu</option>

				</select>
                </div>
                <div style="display: none;" id="pricelist_4" class="featurebox">
                    <select autocomplete="off" name="ps" style="width: 120px;" id="ps_4" disabled="disabled">
					<option value="" selected="selected">Giá thấp nhất</option>

						<option value="0">0</option>

						<option value="1">20 triệu</option>

						<option value="2">500 triệu</option>

						<option value="3">750 triệu</option>

						<option value="4">1 tỷ</option>

						<option value="5">1,5 tỷ</option>

						<option value="6">2 tỷ</option>

						<option value="7">3 tỷ</option>

				</select>
                    <br>
                    <select autocomplete="off" name="pe" style="width: 120px;" id="pe_4" disabled="disabled">
					<option value="" selected="selected">Giá cao nhất</option>

						<option value="1">20 triệu</option>

						<option value="2">500 triệu</option>

						<option value="3">750 triệu</option>

						<option value="4">1 tỷ</option>

						<option value="5">1,5 tỷ</option>

						<option value="6">2 tỷ</option>

						<option value="7">3 tỷ</option>

						<option value="8">nhiều hơn 3 tỷ</option>

				</select>
                </div>
                <div style="display: none;" id="pricelist_5" class="featurebox">
                    <select autocomplete="off" name="ps" style="width: 120px;" id="ps_5" disabled="disabled">
					<option value="" selected="selected">Giá thấp nhất</option>

						<option value="0">0</option>

						<option value="1">10 triệu</option>

						<option value="2">250 triệu</option>

						<option value="3">500 triệu</option>

						<option value="4">750 triệu</option>

						<option value="5">1 tỷ</option>

						<option value="6">1,5 tỷ</option>

						<option value="7">2 tỷ</option>

						<option value="8">3 tỷ</option>

				</select>
                    <br>
                    <select autocomplete="off" name="pe" style="width: 120px;" id="pe_5" disabled="disabled">
					<option value="" selected="selected">Giá cao nhất</option>

						<option value="1">10 triệu</option>

						<option value="2">250 triệu</option>

						<option value="3">500 triệu</option>

						<option value="4">750 triệu</option>

						<option value="5">1 tỷ</option>

						<option value="6">1,5 tỷ</option>

						<option value="7">2 tỷ</option>

						<option value="8">3 tỷ</option>

						<option value="9">nhiều hơn 3 tỷ</option>

				</select>
                </div>
                <div style="display: none;" id="pricelist_6" class="featurebox">
                    <select autocomplete="off" name="ps" style="width: 120px;" id="ps_6" disabled="disabled">
					<option value="" selected="selected">Giá thấp nhất</option>

						<option value="0">0</option>

						<option value="1">500 triệu</option>

						<option value="2">750 triệu</option>

						<option value="3">1 tỷ</option>

						<option value="4">2 tỷ</option>

						<option value="5">3 tỷ</option>

						<option value="6">4 tỷ</option>

						<option value="7">5 tỷ</option>

				</select>
                    <br>
                    <select autocomplete="off" name="pe" style="width: 120px;" id="pe_6" disabled="disabled">
					<option value="" selected="selected">Giá cao nhất</option>

						<option value="1">500 triệu</option>

						<option value="2">750 triệu</option>

						<option value="3">1 tỷ</option>

						<option value="4">2 tỷ</option>

						<option value="5">3 tỷ</option>

						<option value="6">4 tỷ</option>

						<option value="7">5 tỷ</option>

						<option value="8">nhiều hơn 5 tỷ</option>

				</select>
                </div>

            </div>








            <div class="featurebox_col">
                <div style="display: none;" id="regdate" class="featurebox">
                    <select autocomplete="off" name="rs" style="width: 125px;" id="regdate_rs" disabled="disabled">
				<option value="" selected="selected">Đăng ký sau năm</option>
				<option value="0">1980 hoặc cũ hơn</option>
				<option value="1">1981</option>
				<option value="2">1982</option>
				<option value="3">1983</option>
				<option value="4">1984</option>
				<option value="5">1985</option>
				<option value="6">1986</option>
				<option value="7">1987</option>
				<option value="8">1988</option>
				<option value="9">1989</option>
				<option value="10">1990</option>
				<option value="11">1991</option>
				<option value="12">1992</option>
				<option value="13">1993</option>
				<option value="14">1994</option>
				<option value="15">1995</option>
				<option value="16">1996</option>
				<option value="17">1997</option>
				<option value="18">1998</option>
				<option value="19">1999</option>
				<option value="20">2000</option>
				<option value="21">2001</option>
				<option value="22">2002</option>
				<option value="23">2003</option>
				<option value="24">2004</option>
				<option value="25">2005</option>
				<option value="26">2006</option>
				<option value="27">2007</option>
				<option value="28">2008</option>
				<option value="29">2009</option>
				<option value="30">2010</option>
				<option value="31">2011</option>
				<option value="32">2012</option>
				<option value="33">2013</option>
				<option value="34">2014</option>
				<option value="35">2015</option>
				<option value="36">2016</option>

			</select>
                    <br>
                    <select autocomplete="off" name="re" style="width: 125px;" id="regdate_re" disabled="disabled">
				<option value="" selected="selected">Đăng ký trước năm</option>

					<option value="1">1981</option>

					<option value="2">1982</option>

					<option value="3">1983</option>

					<option value="4">1984</option>

					<option value="5">1985</option>

					<option value="6">1986</option>

					<option value="7">1987</option>

					<option value="8">1988</option>

					<option value="9">1989</option>

					<option value="10">1990</option>

					<option value="11">1991</option>

					<option value="12">1992</option>

					<option value="13">1993</option>

					<option value="14">1994</option>

					<option value="15">1995</option>

					<option value="16">1996</option>

					<option value="17">1997</option>

					<option value="18">1998</option>

					<option value="19">1999</option>

					<option value="20">2000</option>

					<option value="21">2001</option>

					<option value="22">2002</option>

					<option value="23">2003</option>

					<option value="24">2004</option>

					<option value="25">2005</option>

					<option value="26">2006</option>

					<option value="27">2007</option>

					<option value="28">2008</option>

					<option value="29">2009</option>

					<option value="30">2010</option>

					<option value="31">2011</option>

					<option value="32">2012</option>

					<option value="33">2013</option>

					<option value="34">2014</option>

					<option value="35">2015</option>

					<option value="36">2016</option>

			</select>
                    <br>
                </div>
            </div>








            <div class="featurebox_col">
                <div style="display: none;" id="mileage" class="featurebox">
                    <select autocomplete="off" name="ms" style="width: 120px;" id="mileage_ms" disabled="disabled">
				<option value="" selected="selected">Số Km đã đi từ</option>
				<option value="1">0</option>
				<option value="2">5 000</option>
				<option value="3">10 000</option>
				<option value="4">15 000</option>
				<option value="5">20 000</option>
				<option value="6">25 000</option>
				<option value="7">30 000</option>
				<option value="8">35 000</option>
				<option value="9">40 000</option>
				<option value="10">45 000</option>
				<option value="11">50 000</option>
				<option value="12">55 000</option>
				<option value="13">60 000</option>
				<option value="14">65 000</option>
				<option value="15">70 000</option>
				<option value="16">75 000</option>
				<option value="17">80 000</option>
				<option value="18">85 000</option>
				<option value="19">90 000</option>
				<option value="20">95 000</option>
				<option value="21">100 000</option>
				<option value="22">110 000</option>
				<option value="23">120 000</option>
				<option value="24">130 000</option>
				<option value="25">140 000</option>
				<option value="26">150 000</option>
				<option value="27">160 000</option>
				<option value="28">170 000</option>
				<option value="29">180 000</option>
				<option value="30">190 000</option>
				<option value="31">200 000</option>
				<option value="32">250 000</option>
				<option value="33">300 000</option>
				<option value="34">350 000</option>
				<option value="35">400 000</option>
				<option value="36">450 000</option>
				<option value="37">500 000</option>

			</select>
                    <br>
                    <select autocomplete="off" name="me" style="width: 120px;" id="mileage_me" disabled="disabled">
				<option value="" selected="selected">Số Km đã đi tới</option>
				<option value="1"> 4 999</option>
				<option value="2"> 9 999</option>
				<option value="3"> 14 999</option>
				<option value="4"> 19 999</option>
				<option value="5"> 24 999</option>
				<option value="6"> 29 999</option>
				<option value="7"> 34 999</option>
				<option value="8"> 39 999</option>
				<option value="9"> 44 999</option>
				<option value="10"> 49 999</option>
				<option value="11"> 54 999</option>
				<option value="12"> 59 999</option>
				<option value="13"> 64 999</option>
				<option value="14"> 69 999</option>
				<option value="15"> 74 999</option>
				<option value="16"> 79 999</option>
				<option value="17"> 84 999</option>
				<option value="18"> 89 999</option>
				<option value="19"> 94 999</option>
				<option value="20"> 99 999</option>
				<option value="21"> 109 999</option>
				<option value="22"> 119 999</option>
				<option value="23"> 129 999</option>
				<option value="24"> 139 999</option>
				<option value="25"> 149 999</option>
				<option value="26"> 159 999</option>
				<option value="27"> 169 999</option>
				<option value="28"> 179 999</option>
				<option value="29"> 189 999</option>
				<option value="30"> 199 999</option>
				<option value="31"> 249 999</option>
				<option value="32"> 299 999</option>
				<option value="33"> 349 999</option>
				<option value="34"> 399 999</option>
				<option value="35"> 449 999</option>
				<option value="36"> 499 999</option>
				<option value="37"> Lớn hơn 500 000</option>

			</select>
                    <br>
                </div>
            </div>








            <div class="featurebox_col">
                <div style="display: none;" id="gearbox" class="featurebox">
                    <select name="gb" style="width: 150px;" id="gearbox_gb" disabled="disabled">
				<option value="" selected="selected">Hộp số</option>
				<option value="1">Tự động</option>
				<option value="2">Số sàn</option>
				<option value="3">Cả hai</option>

			</select>
                    <br>
                </div>
            </div>








            <div class="featurebox_col">
                <div style="display: none;" id="fuel" class="featurebox">
                    <select name="fu" style="width: 150px;" id="fuel_fu" disabled="disabled">
				<option value="" selected="selected">Nhiên liệu</option>
				<option value="1">Xăng</option>
				<option value="2">Diesel</option>
				<option value="3">Hybrid xăng và điện</option>

			</select>
                    <br>
                </div>
            </div>








            <div class="featurebox_col">
                <div style="display: none;" id="max_monthly_rent" class="featurebox">
                    <select name="mre" style="width: 130px;" id="max_monthly_rent_mre" disabled="disabled">
				<option value="" selected="selected">Giá thuê hàng tháng cao nhất</option>
				<option value="1">500,000</option>
				<option value="2">3 triệu</option>
				<option value="3">5 triệu</option>
				<option value="4">7 triệu</option>
				<option value="5">10 triệu</option>
				<option value="6">20 triệu</option>
				<option value="7">40 triệu</option>
				<option value="8">nhiều hơn 40 triệu</option>

			</select>
                    <br>
                </div>
            </div>








            <div class="featurebox_col">
                <div style="display: none;" id="rooms" class="featurebox">
                    <select name="ros" style="width: 120px;" id="rooms_ros" disabled="disabled">
				<option value="" selected="selected">Số phòng ít nhất</option>

					<option value="1">1</option>

					<option value="2">2</option>

					<option value="3">3</option>

					<option value="4">4</option>

					<option value="5">5</option>

					<option value="6">6</option>

					<option value="7">7</option>

					<option value="8">8</option>

					<option value="9">9</option>

					<option value="10">10</option>

			</select>
                    <br>
                    <select name="roe" style="width: 120px;" id="rooms_roe" disabled="disabled">
				<option value="" selected="selected">Số phòng nhiều nhất</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">nhiều hơn 10</option>

			</select>
                    <br>
                </div>
            </div>








            <div class="featurebox_col">
                <div style="display: none;" id="sizelist_0" class="featurebox">
                    <select name="ss" style="width: 120px;" id="ss_0" disabled="disabled">
					<option value="" selected="selected">Diện tích nhỏ nhất</option>

						<option value="0">0</option>

						<option value="1">25</option>

						<option value="2">35</option>

						<option value="3">50</option>

						<option value="4">60</option>

						<option value="5">70</option>

						<option value="6">80</option>

						<option value="7">90</option>

						<option value="8">100</option>

						<option value="9">125</option>

						<option value="10">150</option>

						<option value="11">175</option>

						<option value="12">200</option>

				</select>
                    <br>
                    <select name="se" style="width: 120px;" id="se_0" disabled="disabled">
					<option value="" selected="selected">Diện tích lớn nhất</option>

						<option value="1">25</option>

						<option value="2">35</option>

						<option value="3">50</option>

						<option value="4">60</option>

						<option value="5">70</option>

						<option value="6">80</option>

						<option value="7">90</option>

						<option value="8">100</option>

						<option value="9">125</option>

						<option value="10">150</option>

						<option value="11">175</option>

						<option value="12">200</option>

						<option value="13">nhiều hơn 200</option>

				</select>
                </div>
                <div style="display: none;" id="sizelist_1" class="featurebox">
                    <select name="ss" style="width: 120px;" id="ss_1" disabled="disabled">
					<option value="" selected="selected">Diện tích nhỏ nhất</option>

						<option value="0">0</option>

						<option value="2">30</option>

						<option value="3">40</option>

						<option value="4">50</option>

						<option value="5">60</option>

						<option value="6">70</option>
					
						<option value="7">80</option>

						<option value="9">100</option>

						<option value="14">150</option>

				</select>
                    <br>
                    <select name="se" style="width: 120px;" id="se_1" disabled="disabled">
					<option value="" selected="selected">Diện tích lớn nhất</option>

						<option value="2">30</option>

						<option value="3">40</option>

						<option value="4">50</option>

						<option value="5">60</option>

						<option value="6">70</option>

						<option value="7">80</option>

						<option value="9">100</option>

						<option value="14">150</option>

						<option value="27">nhiều hơn 150</option>

				</select>
                </div>
                <div style="display: none;" id="sizelist_2" class="featurebox">
                    <select name="ss" style="width: 120px;" id="ss_2" disabled="disabled">
					<option value="" selected="selected">Diện tích nhỏ nhất</option>

						<option value="0">0</option>

						<option value="1">20</option>

						<option value="2">30</option>

						<option value="3">40</option>

						<option value="4">50</option>

						<option value="5">60</option>

						<option value="7">80</option>

						<option value="9">100</option>

						<option value="14">150</option>

				</select>
                    <br>
                    <select name="se" style="width: 120px;" id="se_2" disabled="disabled">
					<option value="" selected="selected">Diện tích lớn nhất</option>

						<option value="1">20</option>

						<option value="2">30</option>

						<option value="3">40</option>

						<option value="4">50</option>

						<option value="5">60</option>

						<option value="7">80</option>

						<option value="9">100</option>

						<option value="14">150</option>

						<option value="27">nhiều hơn 150</option>

				</select>
                </div>
                <div style="display: none;" id="sizelist_3" class="featurebox">
                    <select name="ss" style="width: 120px;" id="ss_3" disabled="disabled">
					<option value="" selected="selected">Diện tích nhỏ nhất</option>

						<option value="0">0</option>

						<option value="4">50</option>

						<option value="6">70</option>

						<option value="8">90</option>

						<option value="10">110</option>

						<option value="13">130</option>

						<option value="16">200</option>

						<option value="19">400</option>

						<option value="21">800</option>

						<option value="23">1500</option>

						<option value="26">3000</option>

				</select>
                    <br>
                    <select name="se" style="width: 120px;" id="se_3" disabled="disabled">
					<option value="" selected="selected">Diện tích lớn nhất</option>

						<option value="4">50</option>

						<option value="6">70</option>

						<option value="8">90</option>

						<option value="10">110</option>

						<option value="13">130</option>

						<option value="16">200</option>

						<option value="19">400</option>

						<option value="21">800</option>

						<option value="23">1500</option>

						<option value="26">3000</option>

						<option value="27">nhiều hơn 3000</option>

				</select>
                </div>
                <div style="display: none;" id="sizelist_4" class="featurebox">
                    <select name="ss" style="width: 120px;" id="ss_4" disabled="disabled">
					<option value="" selected="selected">Diện tích nhỏ nhất</option>

						<option value="0">0</option>

						<option value="1">20</option>

						<option value="2">30</option>

						<option value="3">40</option>

						<option value="4">50</option>

						<option value="5">60</option>

						<option value="7">80</option>

						<option value="9">100</option>

						<option value="11">120</option>

						<option value="16">200</option>

						<option value="20">500</option>

				</select>
                    <br>
                    <select name="se" style="width: 120px;" id="se_4" disabled="disabled">
					<option value="" selected="selected">Diện tích lớn nhất</option>

						<option value="1">20</option>

						<option value="2">30</option>

						<option value="3">40</option>

						<option value="4">50</option>

						<option value="5">60</option>

						<option value="7">80</option>

						<option value="9">100</option>

						<option value="11">120</option>

						<option value="16">200</option>

						<option value="20">500</option>

						<option value="27">nhiều hơn 500</option>

				</select>
                </div>

            </div>






            <div class="featurebox_col">
                <div style="display: none;" id="subcat" class="featurebox">
                    <select name="c" id="cat" class="search_category" disabled="disabled" onchange="SearchCrit(this.value.length ? this.value : false, false, this.id);">
			</select>
                </div>
            </div>





        </div>
        <div class="clear"></div>








        <div class="searchbox_tip" id="searchbox_tip">

        </div>



        <div class="banner">
            <!-- Banner start -->
        </div>
        <!-- Banner end -->


    </div>
    <div class="clear"></div>
</div>
